* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: montserrat;
    background-color: #f6f6f6;
   }
   
   body{
    display: block;
    margin: 0;
    background-color: #f6f6f6 ;
  }
   
   .container{
        background: #f6f6f6; 
   }
  
   .container .btn.btn-main{
        text-align: center;
        background-color:#6b1831;
        color:#f6f6f6;
    
   }
   .container form{
        padding: 0 5px;
        box-sizing: border-box;
   }
   .h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
 
   }
   
   .alignright{
       text-align: right;
     }
     .fondoazul{
          background-color: #eaeff3;
          padding: 20PX;
     }
     .estilolabel{
          /* width: auto; */
          background-color: transparent;
          
          
     }