* {
     margin: 0;
     padding: 0;
     border: 0;
     /*font-family: montserrat;*/
     /*background-color: #f6f6f6;*/
}
body {
     display: block;
     margin: 0;
     min-width: 430px;
     /* background-color: #f6f6f6; */
     background-color: #f0f4f9;
 }
 nav {
     background-color: #13322b;
     color: #fff;
     display: flex;
     justify-content: space-between;
     height: 50px;
 
 }
 nav .left-nav, nav .user-content {
     display: flex;
     justify-content:space-around;
     align-items: center;
 }
 nav .left-nav{
     width:400px;
 }
 nav .left-nav .logo {
     width: 200px;
 }
 nav .left-nav .logo img {
     width: 80%;
     height: auto;
 }
 nav .user-content{
     width:200px;
 }

/*.navbar.nav-cfcrl {
     background-color:#13322b;
 }
.navbar-brand {
     padding-top: 0.3125rem;
     padding-bottom: 0.3125rem;
     margin-right: 1rem;
     font-size: 1.25rem;
     text-decoration: none;
     white-space: nowrap;
     background-color:#13322b;
}*/
   
.col-6.centrar-login {
     display: flex;
     flex-direction: column;
     height: 90vh;
     justify-content: center;
 }
/*.login-container {
     display: block;
     margin: 0 auto;
     width: 900px;
     height: 850px;
     background: #f6f6f6; 
}*/
   /*.col-6 {
     flex: 0 0 auto;
     width: 50%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%);
 }*/
  
.login-container .btn.btn-main{
     text-align: center;
     background-color:#6b1831;
     color:#f6f6f6;
}
.login-container form{
     padding: 0 5px;
     box-sizing: border-box;
}

.alignright{
     text-align: right;
}
.fondoazul{
     background-color: #eaeff3;
     padding: 20px;
}
.estilolabel{
     /* width: auto; */
     background-color: transparent;
}